@import '@angular/material/theming';
@include mat-core();

:root {
  --color-text-default: black;
  // --color-text-disabled       : #c1c1c5;
  --color-text-disabled: orange;
}

$theme-primary: mat-palette($mat-indigo);
$theme-accent: mat-palette($mat-pink);
$theme-warn: mat-palette($mat-red);
$my-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@function my-mat-light-theme-foreground($color) {
  @return (
    text: var(--color-text-default),
    disabled: var(--color-text-disabled),
    disabled-button: var(--color-text-disabled),
    disabled-text: var(--color-text-disabled),
    divider: rgba(0, 0, 0, 0.12),
    secondary-text: rgba(0, 0, 0, 0.54)
  );
}

$my-foreground: my-mat-light-theme-foreground(mat-color($theme-primary, 700));
$my-app-theme-custom: map-merge(
  $my-theme,
  (
    foreground: $my-foreground,
  )
);

@include angular-material-theme($my-app-theme-custom);
